@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: turquoise;
  color: #000;
  padding: 10px 20px;
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: #008e9b;
  color: #fff;
}
